<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c5cbbd6-13b2-422b-8612-1d72e79e670b" Alias="hekim1" Level="3">
  <Info>
    <Parent Key="0632d339-7732-48a8-94ae-d0fb6c99438f">Hekimler</Parent>
    <Path>/Anasayfa/Hekimler/hekim1</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-10-01T12:58:44</CreateDate>
    <NodeName Default="hekim1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-10-24T12:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[[
  "umb://document/bd6a503ac2f247159e97fd2530c3e5b3"
]]]></Value>
    </author>
    <categories>
      <Value><![CDATA[[
  "umb://document/942a1a23a5e84703b99f90afcdcea6e4"
]]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bcf4ab99ce054e15886c70ba0d1d2b8c",
        "settingsUdi": "umb://element/49777dc5d8ff4487921190654da6de63"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/bcf4ab99ce054e15886c70ba0d1d2b8c",
      "content": "<p>tedsr</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/49777dc5d8ff4487921190654da6de63",
      "hide": "0",
      "paddingTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "marginTop": "",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": ""
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <navigationNo>
      <Value><![CDATA[]]></Value>
    </navigationNo>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[test]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[tlptr]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>