<?xml version="1.0" encoding="utf-8"?>
<Content Key="0632d339-7732-48a8-94ae-d0fb6c99438f" Alias="Hekimler" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Anasayfa</Parent>
    <Path>/Anasayfa/Hekimler</Path>
    <Trashed>false</Trashed>
    <ContentType>articleList</ContentType>
    <CreateDate>2024-10-01T12:57:41</CreateDate>
    <NodeName Default="Hekimler" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="26611ae1-1548-4ba5-a696-0cabed50057c">articleList</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b77d8b78b0b349d3a93c7994d8d2f695",
        "settingsUdi": "umb://element/b616ddee03e24a4ca083502c2e89f730"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "60085a63-b77b-4509-9df4-bcb75db2755f",
      "udi": "umb://element/b77d8b78b0b349d3a93c7994d8d2f695",
      "articleList": "umb://document/0632d339773248a894aed0fb6c99438f",
      "pageSize": "10",
      "showPagination": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c56fb5b8-0b89-4206-847e-a6fecd865b84",
      "udi": "umb://element/b616ddee03e24a4ca083502c2e89f730",
      "hide": "0",
      "paddingTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "marginTop": "",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": ""
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <navigationNo>
      <Value><![CDATA[2]]></Value>
    </navigationNo>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[Hekimler]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Hekimler]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>