<?xml version="1.0" encoding="utf-8"?>
<Content Key="59727b73-5412-4df9-964c-9dce5d34691e" Alias="Hizmetler" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Anasayfa</Parent>
    <Path>/Anasayfa/Hizmetler</Path>
    <Trashed>false</Trashed>
    <ContentType>articleList</ContentType>
    <CreateDate>2024-10-02T23:03:14</CreateDate>
    <NodeName Default="Hizmetler" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="26611ae1-1548-4ba5-a696-0cabed50057c">articleList</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "2ffcd222-4b10-423c-ac50-f99b51102318",
    "mediaKey": "c81241af-c1d6-430d-9c09-cd4264d1b8ad"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <navigationNo>
      <Value><![CDATA[1]]></Value>
    </navigationNo>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[Temizlik Hizmetlerimiz]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Hizmetlerimiz]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>