@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
     <div class="modal-comments js-modalcomment">
         <div class="comments">
             <div class="comments-wrapper">
                 <div class="heading">Hasta Yorumları</div>
                 <h4 class="title js-modalcomment-title">Ahmet Çelebi</h4>
                 <div class="text js-modalcomment-input">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, magnam deleniti! Architecto temporibus dolorem tenetur aliquam nobis quas. Perspiciatis molestiae quis optio rerum tempore esse atque cumque quod harum! Error voluptatem numquam corrupti unde? Necessitatibus possimus aperiam provident, temporibus voluptatibus accusantium dolores, nam nihil cupiditate, id architecto repellat ratione et hic sed eius? Nisi dignissimos perferendis libero obcaecati omnis aspernatur accusamus similique ullam sapiente, sit officia earum nulla. Fugit, sed.</div>
             </div>
             <div class="close js-btn-modalcomment is-close"><i class="fas fa-times"></i></div>
         </div>
     </div>