@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
     <div class="modal-comments js-modalcomment">
         <div class="comments">
             <div class="comments-wrapper">
                 <div class="heading">Yorumlar</div>
                 <h4 class="title js-modalcomment-title"></h4>
                 <div class="text js-modalcomment-input">.</div>
             </div>
             <div class="close js-btn-modalcomment is-close"><i class="fas fa-times"></i></div>
         </div>
     </div>