@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="section-services">
    <div class="container">
        <div class="section-header ui-txt-between ui-mobile ui-mb-50px">
            <h2 class="title">Kuzey Diş Kliniği <br> <span>Yaşam Kalitenizi Artırıyoruz</span></h2>
            <div class="desc">
                <div class="heading">Klinik Hizmetleri</div>
                <div class="text">Kuzey Diş Polikliniği, alanında uzman hekimler ile diş sağlınız için gerekli olan bütün kontrolleri yapmaktadır. </div>
            </div>
        </div>
        <div class="services">
            <ul class="row ui-gutter">


                <li class="col-lg-4 col-md-6">
                    <div class="services-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="uploads/sayfalar/990d0_w3002a3a.jpg?p=uploads/sayfalar/990d0.jpg&amp;w=300" alt="Alanında Profesyonel Uzman Hekimler">
                            </div>
                            <h4 class="title">Alanında Profesyonel Uzman Hekimler</h4>
                        </div>
                        <div class="text">Hekimlerimizin hepsi alanında profesyonel tecrübeli hekimlerdir.</div>
                    </div>
                </li>


                <li class="col-lg-4 col-md-6">
                    <div class="services-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="uploads/sayfalar/cd587_w300850b.jpg?p=uploads/sayfalar/cd587.jpg&amp;w=300" alt="Acil Yardım ve Destek">
                            </div>
                            <h4 class="title">Acil Yardım ve Destek</h4>
                        </div>
                        <div class="text">Diş sağlınız ile ilgili acil durumlara anında müdahale ediyor, Tedavi yöntemlerini belirleyerek sizleri bilgilendiriyoruz.</div>
                    </div>
                </li>


                <li class="col-lg-4 col-md-6">
                    <div class="services-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="uploads/sayfalar/3efbe_w30057f9.jpg?p=uploads/sayfalar/3efbe.jpg&amp;w=300" alt="Tıbbi Tavsiyeler Ve Kontroller">
                            </div>
                            <h4 class="title">Tıbbi Tavsiyeler Ve Kontroller</h4>
                        </div>
                        <div class="text">Tedavi sonrası oluşabilecek komplikasyonlar ve bakımlar ile ilgili sizleri bilgilendiriyor, düzenli olarak kontrollerinizi yapıyoruz.</div>
                    </div>
                </li>


                <li class="col-lg-4 col-md-6">
                    <div class="services-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="uploads/sayfalar/eaf3a_w3005c2d.jpg?p=uploads/sayfalar/eaf3a.jpg&amp;w=300" alt="Güvenilir Tıbbi Tedavi">
                            </div>
                            <h4 class="title">Güvenilir Tıbbi Tedavi</h4>
                        </div>
                        <div class="text">Alanında uzman hekimlerimiz ile diş sağlınıza kavuşturuyoruz.</div>
                    </div>
                </li>


                <li class="col-lg-4 col-md-6">
                    <div class="services-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="uploads/sayfalar/12182_w300b6d0.jpg?p=uploads/sayfalar/12182.jpg&amp;w=300" alt="Teknolojik Ekipmanlar">
                            </div>
                            <h4 class="title">Teknolojik Ekipmanlar</h4>
                        </div>
                        <div class="text">Kliniğimiz sizlerin sağlını ve konforunu düşünerek dizayn edilmiş, her türlü hijyen önlemi alınmıştır.</div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>