<?xml version="1.0" encoding="utf-8"?>
<Media Key="0915f303-cfe9-493e-9f4b-70c4a167e545" Alias="Instagram" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T21:44:39</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/glzbkcpj/instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>