<?xml version="1.0" encoding="utf-8"?>
<Media Key="68a89834-db41-4837-8f65-6506b239118d" Alias="Instragram" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Instragram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T19:04:48</CreateDate>
    <NodeName Default="Instragram" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/awmkq0cb/instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>