<?xml version="1.0" encoding="utf-8"?>
<Media Key="aaf87b9f-d072-4e02-b577-a4ea74a930f0" Alias="Youtube" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T21:45:07</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vz3prkts/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>