<?xml version="1.0" encoding="utf-8"?>
<User Key="00000001-0000-0000-0000-000000000000" Alias="tanarti@example.com">
  <Info>
    <Comments />
    <Name>tanarti</Name>
    <Username>tanarti@example.com</Username>
    <Email>tanarti@example.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEA05fZuKXLzprFKHFpVIGa8v41YYnLDPXph2SHT1x0ERhdWJxdyZKfeCuJyAE/uc6Q==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>editor</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>